<p>
  <strong>Characters of team <%= @team.name%>:</strong>
  <!--@team.name -->
</p>



<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>

  <% @team.characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>