<p>
  <strong>Player of team:</strong>
  <%= @team.name %>
</p>



<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>link to</th>
  </tr>
  </thead>

  <tbody>

  <% @team.players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= link_to 'Show', player,  class: 'btn btn-link' %></td>
      </tr>
  <% end %>
  </tbody>
</table>